/* Add your code in each class */
body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #1b0c2cff;
}

p,
.movie-title {
  color: white;
}

.movie-title {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.movie-card {
  border-radius: 10px;
}
.movie-image {
  height: 45vh;
  width: 40vh;
  object-fit: cover;
  z-index: -1;
}
.movie-details-container {
  position: relative;
}
.descriptions {
  position: absolute;
  float: left;
  bottom: 0;
  padding-left: 15px;
}

/*A gift from us!*/
.movie-shadow {
  bottom: 0;
  position: absolute;
  height: 40vh;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
